{|if $seotextinindexpage|}
    {|$seotextinindexpage|}
{|/if|}

{|foreach from=$carouselArray item="e"|}
    <div class="os-caption-block">
        {|$e.name|}
    </div>
    {|$e.html|}
{|/foreach|}

{|if $tabsArray|}
    <div class="os-tabs-block" id="id-tabs">
        {|foreach from=$tabsArray item="e"|}
            <a href="#" data-rel=".tab-{|$e.id|}">{|$e.name|}</a>
        {|/foreach|}
        <div class="clear"></div>
    </div>

    {|foreach from=$tabsArray item="e"|}
        <div class="tab-{|$e.id|} shop-tabI" style="display: none;">{|$e.html|}</div>
    {|/foreach|}
{|/if|}

{|$block_brand_top|}

{|$block_category_top|}