{|if $bannerArray|}
    <div class="os-block-slider {|if $countBanners > 1|}js-block-slider{|/if|}">
        <div class="line" style="height: {|$bannerHeightMax|}px;">
            <ul>
                {|foreach from=$bannerArray item="b"|}
                    <li>
                        <a href="{|$b.url|}" {|if $b.external|}rel="nofollow" target="_blank"{|/if|} style="background-image: url('{|$b.image|}'); height: {|$bannerHeightMax|}px;">
                            {|if $b.comment|}<span class="comment">{|$b.comment|}</span>{|/if|}
                        </a>
                    </li>
                {|/foreach|}
            </ul>
        </div>
        {|if $countBanners > 1|}
            <div class="control">
                <div class="wrap">
                    {|foreach from=$bannerArray item="b"|}
                        <span></span>
                    {|/foreach|}
                </div>
            </div>
        {|/if|}
    </div>
{|/if|}