{|if $subcategoriesArray|}
    <div class="os-category-list">
        {|foreach from=$subcategoriesArray item="e"|}
            <div class="os-category-element">
                <div class="head">
                    <h2>
                        {|$e.name|}
                        {|if !$e.childsArray|}
                            {|if $e.productCount|}
                                ({|$e.productCount|})
                            {|/if|}
                        {|/if|}
                    </h2>
                </div>
                <div class="body">
                    {|if $e.image|}
                        <div class="image">
                            <a href="{|$e.url|}"><img src="{|$e.image|}" alt="{|$e.name|}" title="{|$e.name|}" /></a>
                        </div>
                    {|/if|}
                    <div class="list">
                        {|foreach from=$e.childsArray item="s" key="key"|}
                            {|if $key < 5|}
                                <a href="{|$s.url|}" >{|$s.name|}</a>{|if $s.productCount|}<span class="count">({|$s.productCount|})</span>{|/if|}<br />
                            {|/if|}
                        {|/foreach|}

                        {|if $e.childsArray|@count >= 5|}
                            <div class="list-more js-list-all" style="display: none;">
                                {|foreach from=$e.childsArray item="s" key="key"|}
                                    {|if $key >= 5|}
                                        <a href="{|$s.url|}">{|$s.name|}</a>{|if $s.productCount|}<span class="count">({|$s.productCount|})</span>{|/if|}<br/>
                                    {|/if|}
                                {|/foreach|}
                            </div>
                            <div class="list-more-toggle">
                                <a class="os-link-dashed js-list-all-toggle" href="#">{|$translate_all|} {|$e.name|}</a>
                            </div>
                        {|/if|}

                        {|if $e.shortdesc|}
                            {|$e.shortdesc|}
                        {|/if|}
                    </div>
                </div>
            </div>
        {|/foreach|}
        <div class="os-category-empty"></div>
        <div class="os-category-empty"></div>
    </div>
{|/if|}